<a11y-header></a11y-header>

<h1>Register</h1>

<div class="login-form">
  <form #registerForm="ngForm">
    <div class="form-row">
      <div class="label">
        <label for="text">Login: </label>
      </div>
      <input type="text" [(ngModel)]="data.email" name="text" id="text" required/>
    </div>
    <div class="form-row">
      <div class="label">
        <label for="pwd">Password:</label>
      </div>
      <input type="password" [(ngModel)]="data.password" name="pwd" id="pwd" required (paste)="doNothing($event)"/>
    </div>

    <div class="form-row">
      <button (click)="reset()">Reset</button>
      <button (click)="login()" [disabled]="registerForm['form'].invalid">Register</button>
    </div>
  </form>
</div>

<a11y-footer></a11y-footer>
