.news {
  padding: 30px 5%;
  font-size: 1.6rem;

  &__item {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &__header {
    background: var(--secondary-color);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


    h2 {
      color: white;

      margin: 0;
    }
  }

  &__date {
    float: right;
  }

  &__content {
    padding: 10px;
  }
}