<div class="header">
  <div class="header__logo"> a11y Project </div>
  <div class="header__menu">
    <a class="header__menu-link" routerLink="/">
      Home
    </a>
    <span class="header__menu-link" (click)="goToAbout()">
      About
    </span>
    <span class="header__menu-link" (click)="goToContact()">
      Contact
    </span>
    <a class="header__menu-link" routerLink="/lists">
      Lists
    </a>
    <span class="header__menu-link" (click)="goToLogin()">
      Login
    </span>
    <span class="header__menu-link" (click)="goToRegister()">
      Register
    </span>
  </div>
</div>
