.banner {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
  height:200px;

  border: 3px solid var(--dark-color);
  background-color: var(--light-color);
  text-align: center;

  h1 {
    text-align: center;
  }
}
