<div class="header">
  <div class="header__logo"> a11y Project </div>
  <div class="header__menu">
    <a class="header__menu-link" routerLink="/">
      Home
    </a>
    <a class="header__menu-link" routerLink="/about">
      About
    </a>
    <a class="header__menu-link" routerLink="/contact">
      Contact
    </a>
    <a class="header__menu-link" routerLink="/lists">
      Lists
    </a>
    <a class="header__menu-link" routerLink="/login">
      Login
    </a>
    <a class="header__menu-link" routerLink="/register">
      Register
    </a>
  </div>
</div>

<div class="section section--1">
  <div class="section__title">
    Who are we?
  </div>

  <div class="section__content">
    <div class="section__right">
        <img src="assets/elizabeth-woolner-9xxNZCJZ8bA-unsplash.jpg" alt="A photo." />
      <div> Photo by <a href="https://unsplash.com/@elizabeth_woolner?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Elizabeth Woolner</a> on <a href="https://unsplash.com/photos/a-laptop-computer-sitting-on-top-of-a-desk-9xxNZCJZ8bA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></div>

    </div>
    <div class="section__left">
      <div class="paragraph">The a11y website aims at showing you the best practices regarding web design and accessibility. We are a really
        modern website that is easily usable by everyone. Well. Almost. Not really. AT LEAST WE TRIED OK!!!!!</div>
    </div>
  </div>
</div>

<div class="section section--2">
  <div class="section__title">Our strengths</div>

  <div class="section__content">
    <div class="card card--1">
      <div class="card__header">Expertise</div>
      <div class="card__body">Our developers and designers are all 20+ years of experience. They works with the premises on the web.</div>
    </div>
    <div class="placeholder"></div>
    <div class="card card--2">
      <div class="card__header">Attention to details</div>
      <div class="card__body">We scrutinized and polished every single pixel of this website for the best experience ever.</div>
    </div>
    <div class="placeholder"></div>
    <div class="card card--3">
      <div class="card__header">Up to date</div>
      <div class="card__body">We follow the new standards such as HTML 2 and CSS. We're quite proud to be that up to date.</div>
    </div>
    <div class="placeholder"></div>
    <div class="card card--4">
      <div class="card__header">Support</div>
      <div class="card__body">We are easily accessible through the contact form that you can reach <a href="/contact">here</a></div>
    </div>
  </div>
</div>
