<div class="header">
  <div class="header__logo"> a11y Project </div>
  <div class="header__menu">
    <a class="header__menu-link" routerLink="/">
      Home
    </a>
    <a class="header__menu-link" routerLink="/about">
      About
    </a>
    <a class="header__menu-link" routerLink="/contact">
      Contact
    </a>
    <a class="header__menu-link" routerLink="/lists">
      Lists
    </a>
    <a class="header__menu-link" routerLink="/login">
      Login
    </a>
    <a class="header__menu-link" routerLink="/register">
      Register
    </a>
  </div>
</div>
