<a11y-header></a11y-header>

<a href="/">&larr; Back</a>

<h1>Contact us</h1>

<p class="contact-text">
  If you are hype about our project and want to contact us, please fill the form below :
</p>

<form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="contact-form">
  <label for="name">
    Name :
    <input type="text" name="name" required [ngClass]="{'error': name.invalid}" [(ngModel)]="data.name" #name="ngModel" />
  </label>
  
  <label for="age">
    Age :
    <input [(ngModel)]="data.age" name="age" required pattern="^(?:[1-9]?[0-9]|1[012][0-9])$" #age="ngModel" [ngClass]="{'error': age.invalid}" />
  </label>

  <label for="phoneNumber">
    Phone number :
    <input [(ngModel)]="data.phoneNumber" name="phoneNumber" required pattern="^0[67](?:\s\d{2}){4}$" #phoneNumber="ngModel" [ngClass]="{'error': phoneNumber.invalid}" />
  </label>

  <label for="email">
    Email :
    <input type="email" [(ngModel)]="data.email" name="email" required #email="ngModel" [ngClass]="{'error': email.invalid}" />
  </label>

  <label for="message">
    Message :
    <textarea [(ngModel)]="data.message" name="message"></textarea>
  </label>
  
  <button type="submit">Submit</button>
</form>

<a11y-footer></a11y-footer>