.newsletter {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 50svw;
  transform: translate(-50%, -50%);
  background: var(--primary-color-light);
  border: 3px solid var(--dark-color);
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);

  &__inner {
    position: relative;
    padding: 2rem;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    border: 1px solid var(--dark-color);
    border-radius: 30px;
    width: 20px;
    height: 20px;
    color: var(--dark-color);
    text-align:center;
    cursor: pointer;
  }

  &__title {
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    margin-block: 0;
  }

  &__content {
    padding: 1rem;
  }

  &__text {
    font-size: 2rem;
    padding-block: 1rem;
  }
}
