@if (show) {
  <div class="newsletter">
    <div class="newsletter__inner">
      <button class="newsletter__close" (click)="close()">X</button>
      <div class="newsletter__title">STAY TUNED</div>
      <div class="newsletter__content">
        <div class="newsletter__text">You do not want to miss our latest news!
          Give us your email address and you can be confident to get only the best content in your mailbox every single
          now and then.
        </div>
        <div class="newsletter__text--small">+ our partners will love to send you recommendations and suggest you
          products !
        </div>
        <div class="newsletter__text">What are you waiting for ??? Sign in now !</div>

        <div class="newsletter__form">
          <form (ngSubmit)="signIn()" #newsletterForm="ngForm"></form>
          <input class="newsletter__input" type="text" placeholder="Your email address" [(ngModel)]="email" required>
          <button class="newsletter__button" type="submit" [disabled]="newsletterForm['form'].invalid">Register!</button>
        </div>

        <p class="newsletter__text">
          You can also recommend it to your friends, they'll love it !
        </p>
      </div>
    </div>

  </div>
}
