.news {
  padding: 30px 5%;

  &__item {
    margin-bottom: 20px;
  }

  &__header {
    background: orangered;
    padding: 10px;

    h2 {
      margin: 0;
    }
  }

  &__date {
    font-size: 11px;
  }

  &__content {
    padding: 10px;
  }
}
