.news {
  padding: 30px 5%;
  font-size: 1.6rem;

  &__item {
    margin-bottom: 20px;
    padding: 10px;
  }

  &__header {
    padding: 10px;

    h2 {
      margin: 0;
    }
  }

  &__date {
    font-size: 11px;
  }


}